<% if !object.nil? %>
	<div class="flexCont">
		<div class="detail-pic">
			<div class="goods_pic">
				<%= image_tag(object.pic_url, { :border => '0', :alt => '商材', :width => 156, :height => 154}) %>
			</div>
			連絡先: 
			<span class="user">
				<%= link_to object.user.name, object.user %>
			</span>
		</div>

		<div class="detail_desc">
			<h2><%= object.title %> <small><%= object.category %></small></h2>

			<p>
				<% if signed_in? %>
					<%= object.rep_desc.html_safe %>
				<% else %>
					<%= object.desc.html_safe %>
				<% end %>
			</p>
		</div>
	</div>
<% else %>
	sorry, not prepared!
<% end %>
