<% if !object.nil? %>
	<div class="goods_pic">
		<%= link_to image_tag(object.pic_url, { :border => '0', :alt => '商材'}), primary_path(:name => object.title) %>
	</div>

	<h2><%= link_to object.title, primary_path(:name => object.title) %></h2>

	<p>
		<% if signed_in? %>
			<%= object.rep_desc.html_safe %>
		<% else %>
			<%= object.desc.html_safe %>
		<% end %>
	</p>

	連絡先: 
	<span class="user">
		<%= link_to object.user.name, object.user %>
	</span>

<% else %>
	sorry, not prepared!
<% end %>
