<div class="row">

	<div class="col-xs-12"> <h1>Staff Picks: Foods</h1></div>
	<div class="col-xs-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="goods_pic">
					<img src=<%= Faker::Avatar.image("goods1", "250x200") %>>
				</div>
				<h2><%= @todays_goods.title unless @todays_goods.nil? %></h2>
				<p>
					<%= @todays_goods.rep_short_desc  unless @todays_goods.nil? %>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="right-menu">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="#">フード</a></li>
			<li role="presentation"><a href="#">健康</a></li>
			<li role="presentation"><a href="#">教育</a></li>
			<li role="presentation"><a href="#">いやし</a></li>
			<li role="presentation"><a href="#">衛生</a></li>
		</ul>
		</div>
	</div>

	<div class="col-xs-12"> <h1>What's Popular</h1></div>

	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<img src=<%= Faker::Avatar.image("goods01", "250x200") %>>
				<h2><%= @todays_remaked1.title unless @todays_remaked1.nil? %></h2>
				<p>
					<%= @todays_remaked1.rep_short_desc  unless @todays_remaked1.nil? %>
				</p>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<img src=<%= Faker::Avatar.image("goods02", "250x200") %>>
				<h2><%= @todays_remaked2.title unless @todays_remaked2.nil? %></h2>
				<p>
					<%= @todays_remaked2.rep_short_desc  unless @todays_remaked2.nil? %>
				</p>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<img src=<%= Faker::Avatar.image("goods03", "250x200") %>>
				<h2><%= @todays_remaked3.title unless @todays_remaked3.nil? %></h2>
				<p>
					<%= @todays_remaked3.rep_short_desc  unless @todays_remaked3.nil? %>
				</p>
			</div>
		</div>
	</div>
</div>


<div class="center hero-unit">
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

