<% provide(:title, "REP ログイン") %>
<h1>ようこそ、REPポータルへ</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :rep_id %>
			<%= f.text_field :rep_id %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

