<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-xs-3">
		<section>
			<%= gravatar_for @user, size: 200 %>
		</section>
		<section>
			<h1>
				<%= @user.name %>
			</h1>
			レップID: <%= @user.rep_id %>
		</section>
	</aside>
	<div class="col-xs-9 introduction">
		<%= @user.introduction.html_safe %>
	</div>

	<div class="col-xs-12 title-with-buttons">
		<span>取り扱い商材 (<%= @user.microposts.count %>)</span>
		<% if current_user?(@user) %>
			<%= link_to "Add", new_micropost_path, class: "btn btn-large btn-primary" %>
		<% end %>
	</div>

	<% for goods in @user.microposts %>
		<div class="col-xs-4">
			<div class="panel panel-default panel_custom">
				<div class="panel-body">
					<%= render 'static_pages/goods_simple', object: goods %>
				</div>
			</div>
		</div>
	<% end %>
 </div>
