<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 200 %>
				<%= @user.name %>
			</h1>
			ID: <%= @user.rep_id %>
		</section>
		<%= @user.introduction.html_safe %>
	</aside>

	<div class="col-xs-12">
		<h3>Goods (<%= @user.microposts.count %>)</h3>
	</div>

	<% for goods in @user.microposts %>
		<div class="col-xs-4">
			<div class="panel panel-default panel_custom">
				<div class="panel-body">
					<%= render 'static_pages/goods_simple', object: goods %>
				</div>
			</div>
		</div>
	<% end %>

<!-- 	<div class="span8">
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
 --></div>
