<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :category %>
		<%= f.text_field :category %>

		<%= f.label :short_desc %>
		<%= f.text_field :short_desc %>

		<%= f.label :desc %>
		<%= f.text_field :desc %>

		<%= f.label :rep_short_desc %>
		<%= f.text_field :rep_short_desc %>

		<%= f.label :rep_desc %>
		<%= f.text_field :rep_desc %>

		<%= f.label :goods_seq %>
		<%= f.text_field :goods_seq %>

		<%= f.label :maker %>
		<%= f.text_field :maker %>

		<%= f.label :pic_url %>
		<%= f.text_field :pic_url %>

	</div>
	<%= f.submit "Register", class: "btn btn-large btn-primary" %>
<% end %>
