<%= render 'shared/error_messages', object: f.object %>

<div class="col-xs-6">
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :category %>
<%= f.text_field :category %>

<%= f.label :goods_seq %>
<%= f.text_field :goods_seq, :readonly => true %>

<%= f.label :maker %>
<%= f.text_field :maker %>

<%= f.label :pic_url %>
<%= f.text_field :pic_url %>
</div>

<div class="col-xs-6">

<%= f.label :short_desc %>
<%= f.text_area :short_desc, :rows => "3" %>

<%= f.label :desc %>
<%= f.text_area :desc, :rows => "5" %>

<%= f.label :rep_short_desc %>
<%= f.text_area :rep_short_desc, :rows => "3" %>

<%= f.label :rep_desc %>
<%= f.text_area :rep_desc, :rows => "5" %>

</div>
